<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.kitchenfriend290721" version="0.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kitchen Friend</name>
  <description>
        A digital solution to recipe saving, sharing, and viewing.
    </description>
  <author email="tim_charlesworth@outlook.com" href="http://kitchenFriend.tcharlesworth.com">
      Tim Charlesworth
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="xwalkVersion" value="16+"/>
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
  <preference name="xwalkMode" value="embedded"/>
  <preference name="xwalkMultipleApk" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon density="ldpi" src="resources/android/icon/icon-ldpi.png"/>
    <icon density="mdpi" src="resources/android/icon/icon-mdpi.png"/>
    <icon density="hdpi" src="resources/android/icon/icon-hdpi.png"/>
    <icon density="xhdpi" src="resources/android/icon/icon-xhdpi.png"/>
    <icon density="xxhdpi" src="resources/android/icon/icon-xxhdpi.png"/>
    <icon density="xxxhdpi" src="resources/android/icon/icon-xxxhdpi.png"/>
    <splash density="land-ldpi" src="resources/android/splash/splash-ldpi.png"/>
    <splash density="land-mdpi" src="resources/android/splash/splash-mdpi.png"/>
    <splash density="land-hdpi" src="resources/android/splash/splash-hdpi.png"/>
    <splash density="land-xhdpi" src="resources/android/splash/splash-xhdpi.png"/>
    <splash density="land-xxhdpi" src="resources/android/splash/splash-xxhdpi.png"/>
    <splash density="land-xxxhdpi" src="resources/android/splash/splash-xxxhdpi.png"/>
    <splash density="port-ldpi" src="resources/android/splash/splash-tall-ldpi.png"/>
    <splash density="port-mdpi" src="resources/android/splash/splash-tall-mdpi.png"/>
    <splash density="port-hdpi" src="resources/android/splash/splash-tall-hdpi.png"/>
    <splash density="port-xhdpi" src="resources/android/splash/splash-tall-xhdpi.png"/>
    <splash density="port-xxhdpi" src="resources/android/splash/splash-tall-xxhdpi.png"/>
    <splash density="port-xxxhdpi" src="resources/android/splash/splash-tall-xxxhdpi.png"/>
  </platform>
</widget>