<ion-view title="Home">
    <my-header title='Kitchen Friend'></my-header>
    <img src="img/background-image.jpg" alt="picture" class="home-bg-image">
    <div class="home-bg-color"></div>
    <ion-content padding="true">
        <div class="home-wrapper">
            <div class="home-content">
                <div class="normal-spacer"></div>
                <button ui-sref="Recipes" class="button button-block button-stable">Saved Recipes</button>
                <button ui-sref="NewRecipe" class="button button-block button-stable">New Recipe</button>
                <button ui-sref="Settings" class="button button-block button-stable">To Settings</button>
            </div>
        </div>
    </ion-content>
</ion-view>